<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>
        <ion-img width="80" height="80" src="https://media2.giphy.com/media/JSqsZp9e4sIsE/giphy.gif"></ion-img>
        
      </ion-label>
      <ion-col>
          
        </ion-col>
      <ion-label text-center color="primary"><h2>EPE 3 Programación de Aplicaciones Moviles.</h2></ion-label>
      <ion-col>
          
        </ion-col>
        <ion-col>
          
          </ion-col>
      <ion-label text-center color="primary"><h2>Docente: Germán Riveros Sepúlveda</h2></ion-label>
      <ion-col>
          
        </ion-col>
        <ion-col>
          
          </ion-col>
      <ion-label text-center color="primary"><h2>Integrantes: Sergio Muñoz - Cristian Loyola</h2></ion-label>
      <ion-row>
          <ion-col>
          
            </ion-col>
          <ion-col>
              <ion-checkbox color="secondary" (click)="home()"></ion-checkbox>
              <ion-label>   Volver   </ion-label>
        <!-- <ion-button color="warning"(click)="home()">   Volver   </ion-button> -->
      </ion-col>
      <ion-col>
          
      </ion-col>
        </ion-row>
</ion-content>
