<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back" (click)=volverInicio()></ion-icon>
    </ion-buttons>
    <ion-title (click)='presentActionSheet()'>
      Cuentas
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <ion-list>
    <ng-container *ngIf="!cuentas || cuentas.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let cuenta of cuentas">
      <ion-item lines="inset" button [routerLink]="['/todo-details', cuenta.id]">
        <ion-label>
          {{ cuenta.Plataforma }}
        </ion-label>
        <ion-note slot="end" color="primary">{{ cuenta.Usuario }}</ion-note>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-label>Actualizar Cuentas</ion-label>
      <ion-toggle
      color="success" (click)="test()"></ion-toggle>
  </ion-item>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/todo-details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 </ion-content>
 <ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Salir</ion-title>
  </ion-toolbar>
</ion-footer>